<div class="w-full">
  <%= turbo_frame_tag "todos_frame" do %>
    <%= form_with(url: todos_path, method: :get, local: false) do %>
      <div class="my-5">
        <label for="user_dropdown" class="font-medium"></label>
        <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username, params[:user_id] ), class: "flex absolute  shadow rounded-md border border-gray-300 outline-none px-9 py-2 mt-2 w-10 bg-transparent hover:border-blue-600", onchange: "this.form.requestSubmit();" %>
      </div>
    <% end %>

    <h2 class="text-6xl text-blue-600 font-thin text-center uppercase mb-8">
      Todos
    </h2>

    <div class="block max-w-md w-full mx-auto bg-zinc-50 py-8 px-4 border border-gray-200 rounded-md shadow-sm">
      <div class="border-b border-zinc-100 w-full">
        <ul class="flex space-x-2 justify-center">
          <li>
            <%= link_to "Incomplete",
              todos_path(status: "incomplete", user_id: params[:user_id]),
              class: "inline-block pb-2 px-4 text-sm font-medium text-center text-gray-500 border-b-2 hover:text-gray-600 #{ params[:status] != 'complete' ? 'border-blue-600' : 'border-transparent hover:border-gray-300'}"
            %>
          </li>
          <li>
            <%= link_to "Complete",
              todos_path(status: "complete", user_id: params[:user_id]),
              class: "inline-block pb-2 px-4 text-sm font-medium text-center text-gray-500 border-b-2 hover:text-gray-600 #{ params[:status] == 'complete' ? 'border-blue-600' : 'border-transparent hover:border-gray-300'}"
            %>
          </li>
        </ul>
      </div>

      <!-- แสดงเฉพาะฟอร์มเพิ่ม Todo ถ้าไม่ได้เลือก status เป็น complete -->
      <% unless params[:status] == "complete" %>
        <div class="py-2 px-4">
          <%= render "form", todo: Todo.new %>
        </div>
      <% end %>

      <ul id="todos-list">
        <!-- Render Todos -->
        <%= render @todos %>
      </ul>
    </div>
  <% end %>
</div>
